/** @format */

body,
html {
	overflow-x: hidden;
}
.navbar-brand {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 2rem;
	color: white;
}
.nav-link {
	font-family: sans-serif;
}
.jumbotron {
	background-color: #c2beb5;
	padding-top: 6rem;
}

#projects {
	background-color: #c2beb5;
}

.img-gallery {
	width: 100%;
}


#gallery .row > * {
	padding: 5px;
	
}

section {
	padding-top: 4rem;
}

